<form action="/answer" data-turbo="false">
  <input type="text"
    name="question"
    value="<%= params[:question] %>"
    placeholder="Question?"
    class="border p-2">
  <input type="submit" value="Ask!" class="btn btn-light btn-sm">
</form>
